Repository cyrus01337/orpc-cockroachdb-todo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tsc --noEmit

Add new user detection for local entry migration
  next-auth.d.ts
  scripts/initialise-database.ts
  src/app/(accounts)/sign-up/_components/sign-up-form.tsx
  src/app/api/auth/[...nextauth]/route.ts
  src/app/page.tsx
  src/server/database.ts
  src/shared/router.ts
Due: prettier --write, eslint, tsc --noEmit

Disable new user flag when no local todo entries
  src/app/page.tsx
  src/shared/router.ts
  src/shared/schemas.ts
Due: prettier --write, eslint, tsc --noEmit

Commit database changes also
  src/server/database.ts
Due: prettier --write, eslint, tsc --noEmit

Lint project after committing TypeScript files
  .lintstagedrc
Due: none

Fix typo
  src/shared/schemas.ts
Due: prettier --write, eslint, tsc --noEmit

Tidy TODOs
  src/app/page.tsx
Due: none

Tidy
  src/server/database.ts
Due: prettier --write, eslint, tsc --noEmit

Cleanup env
  src/server/environment.ts
Due: prettier --write, eslint, tsc --noEmit

Make inputs more attractive
  src/app/_components/entry-creator.tsx
Due: none

Convert home page to server component
  bun.lock
  eslint.config.ts
  next-auth.d.ts
  package.json
  src/app/_components/entries.tsx
  src/app/_components/entry-creator.tsx
  src/app/_components/navbar.tsx
  src/app/api/auth/[...nextauth]/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/store.ts
Due: prettier --write, eslint, tsc --noEmit

Sort properties
  .prettierrc
  bun.lock
  package.json
  src/app/(accounts)/login/_components/login-form.tsx
  src/app/(accounts)/login/page.tsx
  src/app/(accounts)/sign-up/_components/sign-up-form.tsx
  src/app/(accounts)/sign-up/page.tsx
  src/app/_components/entries.tsx
  src/app/_components/entry-creator.tsx
  src/app/_components/entry/confirmation-modal.tsx
  src/app/_components/entry/edit-modal.tsx
  src/app/_components/entry/index.tsx
  src/app/_components/navbar.tsx
  src/app/layout.tsx
Due: prettier --write

Flesh out
  README.md
Due: prettier --write

Cache specific users on demand
  src/app/_components/entries.tsx
  src/app/_components/navbar.tsx
  src/server/database.ts
  src/shared/router.ts
Due: prettier --write, eslint, tsc --noEmit

Format
  src/app/_components/entries.tsx
Due: none

Prevent database migrations from being committed
  .gitignore
  src/shared/router.ts
Due: prettier --write, eslint, tsc --noEmit

Simplify pre-commits
  .lintstagedrc
  bun.lock
  package.json
Due: prettier --write

Remove entries when user is deleted
  scripts/initialise-database.ts
Due: prettier --write, eslint, tsc --noEmit

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{js,mjs,cjs})) or (any of: *.{json,md})
  eslint: (any of: *.ts) or (any of: *.{js,mjs,cjs})
  tsc --noEmit: any of: *.ts
